
.usuer-information-card-container {
  padding: 10px;
  margin: 10px;
  width: 400px;
}

.input-width {
  width: 300px;
}

.ellamd-tag {
  margin-right: 4px;
  margin-bottom: 2px;
}

.ellamd-callout {
  margin-bottom: 5px;
}