@import '~@blueprintjs/datetime/dist/blueprint-datetime.css';

.list-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center
}

.pt-dialog {
  background: #fff;
}

.usuer-information-card-container {
  padding: 10px;
  margin: 10px;
  width: 400px;
}

.input-width {
  width: 300px;
}

.ellamd-tag {
  margin-right: 4px;
  margin-bottom: 2px;
}

.ellamd-callout {
  margin-bottom: 5px;
}

.ellamd-card {
  margin: 10;
  display: flex;
  position: relative;
}

.ellamd-user-form {
  display: flex;
  flex-direction: row;
  .pt-form-group {
    padding-right: 15px;
  }
}

.pt-menu {
  max-width: 400px;
  max-height: 305px;
  overflow: auto;
  padding: 0;
}

.ellamd-find-formula {
  width: 300px;
  max-width: 300px;
  max-height: 148px;
}

.ellamd-ingredient-list {
  width: 1222;
  max-height: 568px;
  min-height: 568px;
  overflow: auto;
}

.example-icon {
  color: #0f9960;
  padding-left: 5px;

}

.pt-non-ideal-state {
  height: 500px;
}

.ellamd-user-information {
  width: 1222;
  max-height: 568px;
}

.ellamd-slide {
  padding: 0 20px;
  display: flow-root;
  flex-direction: row;
}

.ellamd-remove-ingredient {
  position: absolute;
  right: 16px;
  cursor: pointer;
}

.ella-md-ingredient-item-enter {
  opacity: 0.01;
}

.ella-md-ingredient-item-enter.ella-md-ingredient-item-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.ella-md-ingredient-item-leave {
  opacity: 1;
}

.ella-md-ingredient-item-leave.ella-md-ingredient-item-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.ellamd-add-ingredient {
  position: absolute;
  top: 20px;
  right: 32px;
  color: #0f9960;
  z-index: 5;
}

.ellamd-big-icon {
  font-size: 37px !important;
  cursor: pointer;
}

.pt-dialog-body.ella-md-dialog {
  max-height: 400px;
  overflow: auto;
}

.pt-dialog-container .pt-dialog {
  position: static !important;
  -webkit-transform: none;
  transform: none;
  min-width: 726px;
}

.ella-md-card {
  width: 1222;
}


#react-print {
  display: none;
}

.pt-callout {
  line-height: 1.5;
  font-size: 14px;
  position: relative;
  border-radius: 3px;
  background-color: #fff;
  padding: 10px 12px 9px;
  border: 1px solid #ccc;
}

@mixin printable() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h5 {
    color: #106ba3;
    font-weight: 600;
    margin: 0 0 10px;
    padding: 0;
    line-height: 0.9em;
    font-size: 17px;
  }

  label {
    color: #182026;
    font-weight: 500;
    margin: 0 7px 14px 0;
    font-size: 17px;
  }
  th {
    label {
      text-align: left;
    }
  }
  .print-card {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    border-radius: 3px;
    width: 98%
  }
}

@media print {
  #web-section {
    display: none;
  }

  #react-print {
    @include printable();
  }

}

#to-pdf-print {
  @include printable();
  background: #fff;
  padding: 30px;
  h5 {
    font-size: 20px;
  }

  label {
    color: #182026;
    font-weight: 500;
    margin: 0 7px 14px 0;
    font-size: 20px;
  }
  td {
    font-size: 20px;
  }
}
